
/*tipografia**/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Yellowtail&display=swap');

/*colores
#BDF2D5
#4B5D67

fuentes
font-family: 'Yellowtail', cursive;
font-family: 'Cairo', sans-serif;
**/

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


  /*BOOTSTRAP!!!!!!!*/
  .fondoNav{
    background-color: #FFC18E ;
  }

  .colorNav{
    background-color: #FFC18E ;
  }

  header{
    background-color: #CA4E79;
  }

  .fuenteCairo{
    font-family: 'Yellowtail', cursive;
  }

  h1{
    font-family: 'Cairo', sans-serif;
    font-size: 3em; 

  }

  h2{
    font-size: 3rem;
  }

  main{
    background-color: #CA4E79;
    font-size: 1.5em;
  }

  .grillaNovedades{
    background-color: #7A4069;
  }

  .main-footer{
    padding: 25px 0;
    background-color: #513252;
    color: beige;
  }

  .mainMarieCurie{

    background: url(../images/libro.jpg) no-repeat center ;
  	height: 100%;
     background-size:cover;                      /* <------ */
    background-repeat:no-repeat;
    background-position:center center;

  }

  .fondoCard{
    background-color: #F2D1D1;
  }
  


