
$color_nav: #CC2A49 ;
$color_main_titulo: #F99E4C;
$color_main: #F36f38;


/*tipografia**/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Yellowtail&display=swap');

$ff_cursiva: "Yellowtail", cursive;
$ff_fuente: "Cairo", sans-serif;