
$color_nav: #FFC18E ;
$color_head: #CA4E79;


/*tipografia**/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Yellowtail&display=swap');

$ff_cursiva: "Yellowtail", cursive;
$ff_fuente: "Cairo", sans-serif;